<div class="main_header">
  <div class="header_left">
    <form class="search-form" action="/search" method="get">
      <input type="text" name="q" placeholder="Search...">
      <button type="submit">Search</button>
    </form>
  </div>
  
  <div class="header_right">
    <a href="#" class="bi bi gear">
      <svg class="bi me-2" width="25" height="25"><use xlink:href="#gear"/></svg>
    </a>
  </div>
</div>
